# Virtual environment
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Data (große Dateien)
data/*.csv
data/*.dat
